@import url("https://fonts.googleapis.com/css?family=Nunito:400,800&display=swap");

html,
body {
  font-family: "Nunito", sans-serif;
}

.flex {
  display: flex;
}

.wrapper {
  margin: 0 auto;
  width: 96vw;
  max-width: 1120px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-space {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
}

ul,
li {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.btn {
  padding: 0 20px;
  border-radius: 40px;
}
.btn-white {
  color: #7c4ec4;
  border: 2px solid #7c4ec4;
}
.btn-purple {
  background-color: #7c4ec4;
  color: #fff;
  border: 2px solid #7c4ec4;
}

/* HEADER */
header {
  margin-top: 10px;
  border-bottom: 4px solid #7c4ec4;
}
.menu {
  display: flex;
  justify-content: space-between;
  line-height: 60px;
  margin: 0;
  padding: 0 20px;
}
.menu .submenu a {
  color: #666;
}
.menu ul li {
  display: flex;
  align-items: center;
}
.menu img {
  width: 220px;
  height: 49px;
}
.menu ul li a {
  margin: 0;
  padding: 0 20px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 40px;
}

.menu .member ul li a {
  margin: 10px 20px 0 0;
}

/* FOOTER */
footer {
  border-top: 1px solid #e1e1e1;
  background-color: #7c4dc4;
  color: #fff;
  margin-top: 50px;
  padding: 20px 0 50px 0;
}
.footer-card {
  display: flex;
  justify-content: space-between;
}
