header {
  border-bottom: none;
}

.material-icons {
  font-size: 40px;
  color: #217b33;
}

.hero {
  background: #8a2091;
  height: 114px;
  margin-top: 10px;
}
.hero h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 800;
  text-transform: capitalize;
  margin: 15px 0 0 0;
  padding: 0;
}
.hero .infos {
  flex: 1;
}
.hero .review {
  align-items: center;
}
.hero .review ul li {
  font-size: 25px;
  color: yellowgreen;
}
.hero .review span {
  color: #fff;
  font-size: 13px;
  margin: 5px 0 0 5px;
}
.hero .options ul li {
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #7f47bc;
  border-radius: 50%;
  margin: 0 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  font-size: 22px;
}
.hero .options ul li span {
  position: absolute;
  top: 47px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}

.content-desc {
  flex: 2;
  margin-top: 20px;
}
.content-desc li {
  width: 220px;
}
.content-desc .rub {
  margin: 0 0 0 10px;
}
.content-desc .rub .title {
  font-size: 16px;
  color: #217b33;
  font-weight: bold;
  text-transform: uppercase;
}
.content-desc .rub .desc {
  font-size: 14px;
  color: #333;
  padding-top: 5px;
}
.content-desc .description {
  margin-top: 20px;
}
.content-desc .description .desc {
  color: #444;
}
.content-desc .description .cat {
  color: #777;
}

.map {
  flex: 1;
}
