header {
  border-bottom: none;
}

.material-icons {
  font-size: 40px;
}
.btn .material-icons {
  font-size: 24px;
  margin-right: 10px;
}

.green {
  color: #217b33;
}

.hero {
  background: #8a2091;
  height: 114px;
  margin-top: 10px;
}
.hero h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 800;
  text-transform: capitalize;
  margin: 15px 0 0 0;
  padding: 0;
}
.hero .infos {
  flex: 1;
}
.hero .review {
  align-items: center;
}
.hero .review ul li {
  font-size: 25px;
}
.hero .review span {
  color: #fff;
  font-size: 13px;
  margin: 5px 0 0 5px;
}

.hero .options {
  margin-top: 25px;
}
.hero .options ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero .options ul li a .md {
  background-color: #fff;
  padding: 10px;
  color: #7f47bc;
  border-radius: 50%;
  margin: 0 20px;
  font-size: 22px;
}
.hero .options ul li span {
  color: #fff;
  font-weight: bold;
  margin-top: 5px;
}

.details-desc {
  flex: 2;
  margin-top: 20px;
}
.details-desc li {
  width: 220px;
}
.details-desc .rub {
  margin: 0 0 0 10px;
}
.details-desc .rub .title {
  font-size: 16px;
  color: #217b33;
  font-weight: bold;
  text-transform: uppercase;
}
.details-desc .rub .desc {
  font-size: 14px;
  color: #333;
  padding-top: 5px;
}

.details-desc .description {
  margin-top: 60px;
}
.details-desc .description .desc {
  color: #444;
}
.details-desc .description .cat {
  color: #777;
}

.details-desc ul li {
  width: auto;
  margin-right: 10px;
}
.details-desc .actions a {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 8px 15px;
  margin: 30px 0;
}

.details-desc .listing-images img {
  width: 225px;
  height: 225px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 10px;
}

.details-map {
  flex: 1;
}

.details-map #map {
  height: 180px;
  width: auto;
}

.details-map .box {
  background-color: #f8f5f4;
  height: auto;
  margin-bottom: 20px;
  padding: 20px;
  text-align: left;
}
