/*  HOME CONTENT */
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.yellowgreen {
  color: yellowgreen;
}

.grey {
  color: #777;
}

.card-list {
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-list h2 {
  font-size: 30px;
  color: #444;
  font-weight: 800;
}
.card-list .view-all {
  font-size: 16px;
  font-weight: 800;
}
.card-list .card {
  width: 245px;
  margin-bottom: 50px;
}
.card-list .card .card-picture {
  position: relative;
}
.card-list .card .card-picture img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 10px;
}
.card-list .card .card-picture span {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  font-size: 22px;
  color: #e80c6e;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-list .card h3 a {
  font-size: 18px;
  color: #217b33;
  font-weight: 800;
}
.card-list .card .localisation {
  font-size: 14px;
  color: #777;
  font-weight: 700;
}

.card-list .card .review {
  display: flex;
}
.card-list .card .review ul {
  display: flex;
  justify-content: left;
  margin: 0;
  padding: 0;
}
.card-list .card .review ul li {
  font-size: 20px;
}
.card-list .card .review span {
  font-size: 12px;
  color: #777;
  margin: 3px 0 0 5px;
}
.card-list .card .description {
  font-size: 16px;
  color: #222;
  /* cut word 3 lines */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.pagination {
  justify-content: center;
}
.pagination li {
  border: 1px solid #ccc;
  margin: 10px 5px 40px 5px;
  padding: 7px 10px;
}
.pagination li a {
  color: #777;
}
