.border-top {
  border-top: 4px solid #7c4dc4;
  margin-top: 10px;
}
.flexOne {
  display: flex;
}

.search-filter,
.search-filter-map,
.search-filter-map #map {
  flex: 1;
  height: 100vh;
}

.search-filter {
  overflow: auto;
}
.search-filter .count {
  color: #7c4dc4;
  justify-content: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.5rem;
}
.search-filter .form {
  padding: 30px;
  position: relative;
}
.search-filter .form input {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding-left: 20px;
  color: #777;
  font-size: 16px;
  outline: none;
}
.search-filter .form button {
  position: absolute;
  top: 33px;
  right: 35px;
  width: 34px;
  height: 34px;
  padding-top: 4px;
  padding-left: 4px;
  border-radius: 50%;
  font-size: 24px;
  background-color: #7c4ec4;
  color: #fff;
  cursor: pointer;
}

.search-filter .search-filter-results {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.search-filter .search-filter-results li {
  color: #444;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  width: 200px;
  flex-direction: column;
  align-items: center;
  margin: 0 8px 20px 8px;
  border: 1px solid #ccc;
}
.search-filter .search-filter-results li img {
  width: 100%;
  height: 175px;
  object-fit: cover;
}
.search-filter .search-filter-results li > div {
  height: 50px;
}
.search-filter .search-filter-results li > div p {
  padding-top: 10px;
}
.search-filter-results li:hover {
  background: rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
