/* HOME SEARCH */
.search {
  background: url("../images/bg-home-large.jpg") no-repeat 0 0;
  height: 320px;
  background-size: cover;
}
.search h1 {
  font-size: 36px;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.85);
  font-weight: 800;
  color: #fff;
}
.search form {
  position: relative;
  z-index: 1;
  width: 80%;
}
.search form input {
  width: 100%;
  height: 48px;
  border-radius: 30px;
  border: none;
}
.search form button {
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  margin-top: 3px;
  margin-right: 2px;
  padding-top: 4px;
  border-radius: 50%;
  font-size: 31px;
  background-color: #7c4ec4;
  color: #fff;
}
.search .svg {
  margin-top: 100px;
}
.search .svg .cls {
  fill: #fff;
}
